
.popup {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s ease-in;


}
