.element__trash-button {
    background: url(../../../images/icons/Trash.svg);
    border-style: none;
    cursor: pointer;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;

}

.element__trash-button:hover {
    opacity: 0.6;
}