.profile {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    padding-bottom: 51px;
}

@media screen and (max-width: 939px) {
    .profile {
        padding-top: 39px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
}