
    .elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        row-gap: 20px;
        column-gap: 17px;
        margin: 0 auto;
      }
      
      @media screen and (max-width: 940px) {
        .elements {
        max-width: 581px;
        grid-template-columns: repeat(2, 1fr);
         
        }
      }
      
      @media screen and (max-width: 620px) {
        .elements {
          max-width: 320px;
          justify-items: center;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    