
.profile__add-button {
    background: url(../../../images/icons/plus_icon.svg) no-repeat center;
    background-size: 22px;
    height: 50px;
    width: 150px;
    border: solid 2px #FFFFFF;
    align-self: center;
    margin-left: auto;
    padding: 0;
}

@media screen and (max-width: 939px){
    .profile__add-button {
    margin: 34px auto 36px;
    width: 282px;
    }
}

@media screen and (max-width: 400px){
    .profile__add-button {
    margin-left: 19px;
    margin-right: 19px;
    background-size: 16px;

    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
