.elements {
    max-width: 880px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
    margin: 0 auto;
    }
    
    @media screen and (max-width:989px) {
        .elements {
        max-width: 440px;
        grid-template-columns: repeat(2, 282px);
        grid-auto-flow: row;
    }    
    }
    
    @media screen and (max-width: 769px) {
        .elements {
        grid-template-columns: repeat(1, 282px);
    
    }    
    }
    
    @media screen and (max-width: 440px) {
        .elements {
        margin-left: 19px;
        margin-right: 19px;
        }
    }
    