.form__submit-button_inactive {
    background-color: #E5E5E5;
    color:#000000;
    border: 1px solid #000000;
    cursor: default;
    opacity: 0.2;
}

.form__submit-button_inactive:hover {
    opacity: 0.2;

}