.root {
    font-family: "Inter", Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  