
.form__input {
    width: 100%;
    max-width: 358px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 25px 0 0;
    padding: 0;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 570px) {
    .form__input {
    width: 238px;
    
    }
}
