@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/root/root.css);

.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 37px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
   
}

.header__logo {

max-width: 142px;
}

.profile {
    max-width: 880px;
    padding-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 18px;
    padding-bottom: 51px;
}


.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
    margin-right: calc(30px - 18px);
    
}

.profile__container {
display: flex;
flex-direction: column;
max-width: 336px;

}

.profile__name {
font-weight: 500;
font-size: 42px;
line-height: 48px;
margin: 0;

}

.profile__description {
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-top: 16px;
margin-bottom: 0;
}


.profile__edit-button {
width: 24px;
height: 24px;
background: url(../images/icons/edit_icon.svg) no-repeat center;
border: solid 1px #FFFFFF;
margin-top: 15px;

}
.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    background: url(../images/icons/plus_icon.svg) no-repeat center;
    height: 50px;
    width: 150px;
    border: solid 2px #FFFFFF;
    align-self: center;
    margin-left: auto;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.elements {
max-width: 880px;
display: grid;
grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(3, 282px);
gap: 20px 17px;
margin: 0 auto;
}

.element {
border-radius: 10px;
background-color: #FFFFFF;

}

.element__image {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.elment__description {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    align-items: center;
    margin-right: 15px;
    margin-left: 21px;
   
}

.element__name {
color: black;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.element__like-button {
    background: url(../images/icons/heart_icon.svg) no-repeat center white;
    border-style: none;
    width: 22px;
    height: 19px;
    padding: 0;
    margin-left: auto;   
}

.element__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.element__like-button_active {
    background: url(../images/icons/heart_icon_black.svg) no-repeat center white;
}


.footer__copyright {
max-width: 880px;
padding-top: 67px;
padding-bottom: 60px;
margin: 0 auto;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #545454;
}