@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/root/root.css);

.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 37px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
   
}

.header__logo {

max-width: 142px;
}

.profile {
    max-width: 880px;
    padding-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
    
}

.profile__container {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    margin-left: 30px;

}

.profile__name {
font-weight: 500;
font-size: 42px;
line-height: 48px;
margin: 0;
}

.profile__description {
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-top: 16px;
margin-bottom: 0;
}


.profile__edit-button {

}

.profile__add-button {

}