.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 41px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
   
}

@media screen and (max-width: 939px){
    .header {
    max-width: 320px;
    padding-top: 33px;
    padding-bottom: 27px;
    }
}
